.footer-toolbar {
  padding: 0 16px;
  min-height: 48px; // Adjust as needed
}

.footer-content {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.9em;
}

.spacer {
  flex: 1 1 auto;
}

a mat-button mat-icon {
  margin-right: 4px;
} 